@inherits ScissorHands.Theme.IndexViewBase
@layout MainLayout

<section class="home">
    <!-- Home page content goes here. -->
    @foreach (var post in Documents)
    {
        <article>
            <div>
                <a href="/@post.Metadata.Slug">@post.Metadata.Title</a>
            </div>
            @if (string.IsNullOrWhiteSpace(post.Metadata.Description) == false)
            {
                <div>
                    <p>@post.Metadata.Description</p>
                </div>
            }
            @if (post.Metadata.Tags.Any())
            {
                <ul>
                    @foreach (var tag in post.Metadata.Tags)
                    {
                        <li>@tag</li>
                    }
                </ul>
            }
        </article>
    }
</section>
<section class="sidebar">
    <!-- Sidebar content goes here. -->
</section>
